<html>
    <head>
        <title>Mi sitio!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Mi sitio!</p>
            <nav>
                <ul>
                    <li>
                        <a href="/peliculas/crear">Crear Peli</a> 
                    </li>
                    <li>
                        <a href="/peliculas">Ver Pelis</a> 
                    </li>
                    <li>
                        <a href="/actores/crear">Crear actor</a> 
                    </li>
                    <li>
                        <a href="/actores">Ver actores</a> 
                    </li>
                    <li>
                        <a href="/crear-nueva-actuacion">Crear nueva actuación</a> 
                    </li>
                </ul>
            </nav>
        </header>